<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<string>https://developer.marvel.com/documentation/getting_started</string>
	<key>publicKey</key>
	<string>f2758843473c8df7e9f0b48d5491b567</string>
	<key>privateKey</key>
	<string>88cc63f65fe1942fd01ec4394e0d6630123fb645</string>
</dict>
</plist>
